$spacing: 10px;
$navElementPadding: $spacing/4;
$borderWidth: 0.25rem;

$background: white;
$foreground: black;
$accent: rgba(77, 55, 220, 0.94);
$accentAdjust: darken($accent, 10%);

$largeTextSize: 1.5rem;

:root {
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 4.25vw;
  -webkit-font-smoothing: antialiased;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

body {
  border: solid $spacing $foreground;
  border-width: 0 $spacing;
}

h1 {
  margin: 0;
  padding: $spacing;
  background: $foreground;
  color: $background;
  font-weight: 400;
  font-size: 1rem;
}

.main {
  padding: $spacing;
}

.contacts-list {
  margin: $spacing 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0 $spacing/2 $spacing;
    }
    a {
      display: block;
      color: $foreground;
      position: relative;
      text-decoration: none;
      font-size: $largeTextSize;
      &:hover {
        color: $accent;
      }
      // &:hover {
      //   &:after {
      //     content: ' ';
      //     position: absolute;
      //     bottom: 0;
      //     left: 0;
      //     width: 100%;
      //     height: 2 * $spacing;
      //     background: $accent;
      //     z-index: -1;
      //   }
      // }
    }
  }
}

button {
  border: 0;
  border-radius: 0;
  color: $background;
  border: solid 2px $background;
  background: $accent;
  font-family: inherit;
  font-size: 1rem;
  white-space: nowrap;
  text-decoration: none;
  $correction: 0.85; // keeping font centered
  padding: calc(#{$correction} * (#{$navElementPadding} + #{$borderWidth}))
    $spacing calc(#{$navElementPadding} + #{$borderWidth});
  display: block;
  cursor: pointer;
  &:hover {
    background: $accentAdjust;
  }
}

nav {
  width: 100%;
  padding: $spacing;
  position: sticky;
  z-index: 10;
  top: 0;
  background: $accent;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  > * {
    margin-right: $spacing;
    &:last-child {
      margin-right: 0;
    }
  }

  input[type='text'],
  label span,
  a {
    display: block;
    padding-top: $navElementPadding;
    padding-bottom: $navElementPadding;
    line-height: normal;
  }

  input[type='text'] {
    background: transparent;
    color: $background;
    appearance: none;
    border: solid $accentAdjust;
    border-width: 0 0 $borderWidth 0;
    flex: 1;
    font-size: 1rem;
    font-family: inherit;
    padding-left: $spacing/2;
    padding-right: $spacing/2;
    margin-right: 0;

    &::placeholder {
      color: $accentAdjust;
    }
    &:focus {
      outline: none;
      background: rgba($accentAdjust, 0.25);
    }
  }

  a {
    color: white;
    text-decoration: none;
    line-height: normal;
    border: solid 2px transparent;
    border-width: 2px 0;
  }
}

.order-by {
  position: relative;
  display: flex;
  min-width: 100%;
  margin-top: $spacing;
  justify-content: flex-end;

  label {
    height: 100%;
    display: block;
    position: relative;
    margin-right: $spacing * 2;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }

    span {
      height: 100%;
    }
  }

  input[type='radio'] {
    position: absolute;
    visibility: hidden;
  }
  input[type='radio']:checked ~ span {
    border-bottom: solid $borderWidth;
  }
}

.contact-options {
  margin-left: auto;
  display: flex;
  align-items: center;
  > * {
    margin-right: $spacing;
    &:last-child {
      margin-right: 0;
    }
  }
  @media (min-width: 768px) {
    > * {
      margin-right: $spacing * 2;
    }
  }
}

.current-contact {
  label {
    display: flex;
    margin-bottom: $spacing;
    align-items: flex-end;
    span {
      font-size: 0.75rem;
      text-transform: uppercase;
      display: block;
      margin-right: $spacing;
    }
  }

  &.editing {
    input {
      &:focus {
        background: rgba($accent, 0.2);
      }
    }
  }

  input {
    flex: 1;
    font-size: $largeTextSize;
    border: none;
    padding: $navElementPadding $spacing;
    border-bottom: solid $spacing/2;
    &:focus {
      outline: none;
    }
  }
}
